NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=incampus
DB_PASSWORD=incampus
DB_DATABASE=incampus
TYPEORM_LOGGING=false

# GitHub API (per script o operazioni esterne)
GITHUB_TOKEN=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
